apiVersion: v1
kind: Service
metadata:
  name: sendook-api
  labels:
    app: sendook-api
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: sendook-api
